* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.ctrl {
  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 10px;
  overflow-x: hidden;
  background: #d2dce6;
}

button {
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
}

button:disabled {
  cursor: not-allowed;
}

.invalid {
  color: red;
}
