<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Usage example of PubSub in Angular 1.x applications</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>Usage example of PubSub in Angular 1.x applications</h1>

  <div ng-controller="ControllerA" class="ctrl">
    <h2>ControllerA</h2>
    <p ng-class="{invalid : !isCounterRegistered}">
      Counter: {{counter || 0}} <button ng-disabled="!isCounterRegistered" ng-click="unsubscribeCounter()">Unsubscribe</button>
    </p>
    <button ng-click="sendUsers()">Send users data to ControllerC</button>
  </div>

  <div ng-controller="ControllerB" class="ctrl">
    <h2>ControllerB</h2>

    <h4>Change Counter in ControllerA</h4>
    <button ng-click="counterDecrease()">-</button>
    <button ng-click="counterIncrease()">+</button>
  </div>

  <div ng-controller="ControllerC" class="ctrl">
    <h2>ControllerC</h2>

    <p ng-if="!users">Waiting data from ControllerA...</p>

    <ul ng-if="users">
      <li ng-repeat="user in users track by user.id">{{user.name}}</li>
    </ul>
  </div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/PubSub/dist/pubsub.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
